Node-RED/FB.json
[{"id":"b552f929.75e0a8","type":"http in","z":"4e09e13b.2d62e","name":"FB HTTP messenge in","url":"/fb","method":"post","swaggerDoc":"","x":105,"y":485,"wires":[["e8932afd.02b998","f04b1116.714a5"]]},{"id":"e8932afd.02b998","type":"json","z":"4e09e13b.2d62e","name":"","x":291.5,"y":485,"wires":[["e8d26ff.b5acd9","1c64003d.1070c"]]},{"id":"93abc8bb.18e008","type":"http in","z":"4e09e13b.2d62e","name":"FB HTTP token in","url":"/fb","method":"get","swaggerDoc":"","x":85,"y":612,"wires":[["6069e653.f68188"]]},{"id":"6069e653.f68188","type":"function","z":"4e09e13b.2d62e","name":"Handshake token","func":"var token = 'thismytoken';\nvar parsed = msg.payload;\nvar arr = [];\nfor(var x in parsed){\n  arr.push(parsed[x]);\n}\nnode.warn(msg.payload);\nif (arr[2] === token) {\n    node.warn(arr[2]);\n    msg.payload = arr[1];\n} else {\n    node.warn('no token');\n}\n\nmsg.payload = arr[1];\n\nreturn msg","outputs":1,"noerr":0,"x":332.5,"y":615,"wires":[["3fe0599d.f212a6","1a3a0c2.94a90f4"]]},{"id":"3fe0599d.f212a6","type":"http response","z":"4e09e13b.2d62e","name":"Response","x":591.5,"y":601,"wires":[]},{"id":"1a3a0c2.94a90f4","type":"debug","z":"4e09e13b.2d62e","name":"","active":false,"console":"true","complete":"payload","x":597,"y":646,"wires":[]},{"id":"4515d701.9d9778","type":"http request","z":"4e09e13b.2d62e","name":"Send messger back","method":"POST","ret":"txt","url":"","tls":"","x":2726.86376953125,"y":363.31817626953125,"wires":[[]]},{"id":"d1857ed5.52ee7","type":"http response","z":"4e09e13b.2d62e","name":"Send response 200","x":730.5,"y":530,"wires":[]},{"id":"e8d26ff.b5acd9","type":"function","z":"4e09e13b.2d62e","name":"Send success 200","func":"msg.payload = 200;\nreturn msg;","outputs":1,"noerr":0,"x":512.5,"y":528,"wires":[["d1857ed5.52ee7"]]},{"id":"1c64003d.1070c","type":"function","z":"4e09e13b.2d62e","name":"Get messenge and ID to detemine action","func":"var json = JSON.parse(msg.payload);\nvar content = json.entry[0].messaging[0];\nvar text;\nvar postback;\nvar id = json.entry[0].messaging[0].sender.id;\nglobal.set('id', id);\nvar jsonObj = json.entry[0].messaging[0];\nif (jsonObj.hasOwnProperty('message')) {\n    var message = jsonObj.message;\n    if (message.hasOwnProperty('attachments')) {\n        node.warn('found attachments.');\n        msg.payload = 'image';\n        var url = message.attachments[0].payload.url;\n        global.set('image', url);\n    } else {\n        text = encodeURIComponent(message.text);\n        global.set('text', text);\n        msg.payload = text;\n    }\n} else if (jsonObj.hasOwnProperty('postback')) {\n    postback = jsonObj.postback.payload;\n    msg.payload = postback;\n} else {\n    msg.payload = 'invalid';\n}\nreturn msg;","outputs":1,"noerr":0,"x":165,"y":212,"wires":[["1eb19b94.ce7304"]]},{"id":"a8a53a3a.84e908","type":"http request","z":"4e09e13b.2d62e","name":"Search and rank","method":"GET","ret":"txt","url":"","tls":"","x":866.5,"y":213,"wires":[["e3a2cd10.1fadb"]]},{"id":"c822c893.4b6a28","type":"debug","z":"4e09e13b.2d62e","name":"","active":false,"console":"false","complete":"payload","x":1348,"y":215,"wires":[]},{"id":"6a22a7a4.90c218","type":"function","z":"4e09e13b.2d62e","name":"Get url","func":"if (msg.payload !== 'undefined') {\n    var url = 'https://gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters/sc2ddff032_d787_4a53_8ded_b459453296da/solr/EVA_new/fcselect?ranker_id=3b140ax15-rank-10068&q=' + msg.payload + '&wt=json&fl=id,body';\n    msg.url = url;\n    return msg; \n}","outputs":1,"noerr":0,"x":723.5,"y":216,"wires":[["a8a53a3a.84e908"]]},{"id":"e3a2cd10.1fadb","type":"json","z":"4e09e13b.2d62e","name":"","x":1006.5,"y":214,"wires":[["22abd648.a2edda"]]},{"id":"22abd648.a2edda","type":"function","z":"4e09e13b.2d62e","name":"GetRRAnswer","func":"var json = msg.payload;\nnode.warn(json.response.numFound);\nvar ans;\nif (json.response.numFound == '0') {\n    msg.payload = 'Not found';\n} else {\n    ans = json.response.docs[0];\n    msg.payload = ans.body[0];\n}\n\nglobal.set('text', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1156.5,"y":215,"wires":[["c822c893.4b6a28","f0ae9552.ef78a8"]]},{"id":"f0ae9552.ef78a8","type":"function","z":"4e09e13b.2d62e","name":"Intergration of text and id","func":"msg.payload = {\n    \"recipient\":{\n        \"id\": global.get('id')\n    },\n    \"message\":{\n        \"text\": global.get('text')\n        }\n    };\n\nmsg.headers = {\n    \"Content-type\" : \"application/json\"\n};\n\nmsg.url = 'https://graph.facebook.com/v2.6/me/messages?access_token=EAAZAFdb3vs58BAMASl1ZBETWgDGwbhywkzhmzNrJCQKO9xxce4VlEdX4qQXlG3ygEWrwiLiPBDHMn6ZCHeWWZAhWyZB9pZBwPWYPWRhtYBIgwYBW6th4pLsWEpb2r7FSV42tvZCZCXev8ZCxCQNSHzq2xwOLQOweBLloNziKaBDZAiJgZDZD';\n\nreturn msg;","outputs":1,"noerr":0,"x":1405.75,"y":315.75,"wires":[["4515d701.9d9778"]]},{"id":"d18be888.22a2e8","type":"switch","z":"4e09e13b.2d62e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ticket","vt":"str"},{"t":"eq","v":"hi","vt":"str"},{"t":"eq","v":"payload_yes","vt":"str"},{"t":"eq","v":"payload_no","vt":"str"},{"t":"eq","v":"image","vt":"str"},{"t":"eq","v":"invalid","vt":"str"},{"t":"else"}],"checkall":"false","outputs":7,"x":575.0000076293945,"y":212.5,"wires":[["7e9562a3.1bc73c"],["7588b4d5.503e5c"],["3edd85ca.78337a"],["cb9b9c50.7d9d5"],["5d59831f.0145cc","24f77eb5.dd6a92"],[],["ab88890f.670708"]]},{"id":"7e9562a3.1bc73c","type":"function","z":"4e09e13b.2d62e","name":"Get ticket","func":"msg.payload = {\n  \"recipient\": {\n    \"id\": global.get('id')\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"airline_itinerary\",\n        \"intro_message\": \"Here is your flight itinerary.\",\n        \"locale\": \"en_US\",\n        \"pnr_number\": \"ABCDEF\",\n        \"passenger_info\": [\n          {\n            \"name\": \"Farbound Smith Jr\",\n            \"ticket_number\": \"0741234567890\",\n            \"passenger_id\": \"p001\"\n          },\n          {\n            \"name\": \"Nick Jones\",\n            \"ticket_number\": \"0741234567891\",\n            \"passenger_id\": \"p002\"\n          }\n        ],\n        \"flight_info\": [\n          {\n            \"connection_id\": \"c001\",\n            \"segment_id\": \"s001\",\n            \"flight_number\": \"KL9123\",\n            \"aircraft_type\": \"Boeing 737\",\n            \"departure_airport\": {\n              \"airport_code\": \"SFO\",\n              \"city\": \"San Francisco\",\n              \"terminal\": \"T4\",\n              \"gate\": \"G8\"\n            },\n            \"arrival_airport\": {\n              \"airport_code\": \"SLC\",\n              \"city\": \"Salt Lake City\",\n              \"terminal\": \"T4\",\n              \"gate\": \"G8\"\n            },\n            \"flight_schedule\": {\n              \"departure_time\": \"2016-01-02T19:45\",\n              \"arrival_time\": \"2016-01-02T21:20\"\n            },\n            \"travel_class\": \"business\"\n          },\n          {\n            \"connection_id\": \"c002\",\n            \"segment_id\": \"s002\",\n            \"flight_number\": \"KL321\",\n            \"aircraft_type\": \"Boeing 747-200\",\n            \"travel_class\": \"business\",\n            \"departure_airport\": {\n              \"airport_code\": \"SLC\",\n              \"city\": \"Salt Lake City\",\n              \"terminal\": \"T1\",\n              \"gate\": \"G33\"\n            },\n            \"arrival_airport\": {\n              \"airport_code\": \"AMS\",\n              \"city\": \"Amsterdam\",\n              \"terminal\": \"T1\",\n              \"gate\": \"G33\"\n            },\n            \"flight_schedule\": {\n              \"departure_time\": \"2016-01-02T22:45\",\n              \"arrival_time\": \"2016-01-03T17:20\"\n            }\n          }\n        ],\n        \"passenger_segment_info\": [\n          {\n            \"segment_id\": \"s001\",\n            \"passenger_id\": \"p001\",\n            \"seat\": \"12A\",\n            \"seat_type\": \"Business\"\n          },\n          {\n            \"segment_id\": \"s001\",\n            \"passenger_id\": \"p002\",\n            \"seat\": \"12B\",\n            \"seat_type\": \"Business\"\n          },\n          {\n            \"segment_id\": \"s002\",\n            \"passenger_id\": \"p001\",\n            \"seat\": \"73A\",\n            \"seat_type\": \"World Business\",\n            \"product_info\": [\n              {\n                \"title\": \"Lounge\",\n                \"value\": \"Complimentary lounge access\"\n              },\n              {\n                \"title\": \"Baggage\",\n                \"value\": \"1 extra bag 50lbs\"\n              }\n            ]\n          },\n          {\n            \"segment_id\": \"s002\",\n            \"passenger_id\": \"p002\",\n            \"seat\": \"73B\",\n            \"seat_type\": \"World Business\",\n            \"product_info\": [\n              {\n                \"title\": \"Lounge\",\n                \"value\": \"Complimentary lounge access\"\n              },\n              {\n                \"title\": \"Baggage\",\n                \"value\": \"1 extra bag 50lbs\"\n              }\n            ]\n          }\n        ],\n        \"price_info\": [\n          {\n            \"title\": \"Fuel surcharge\",\n            \"amount\": \"1597\",\n            \"currency\": \"USD\"\n          }\n        ],\n        \"base_price\": \"12206\",\n        \"tax\": \"200\",\n        \"total_price\": \"14003\",\n        \"currency\": \"USD\"\n      }\n    }\n  }\n};\n\nmsg.headers = {\n    \"Content-type\" : \"application/json\"\n};\n\nmsg.url = 'https://graph.facebook.com/v2.6/me/messages?access_token=EAAZAFdb3vs58BAMASl1ZBETWgDGwbhywkzhmzNrJCQKO9xxce4VlEdX4qQXlG3ygEWrwiLiPBDHMn6ZCHeWWZAhWyZB9pZBwPWYPWRhtYBIgwYBW6th4pLsWEpb2r7FSV42tvZCZCXev8ZCxCQNSHzq2xwOLQOweBLloNziKaBDZAiJgZDZD';\n\nreturn msg;","outputs":1,"noerr":0,"x":739,"y":80,"wires":[["4515d701.9d9778","ca8121e0.db2a4"]]},{"id":"898b190d.f8a838","type":"function","z":"4e09e13b.2d62e","name":"Say hi","func":"var json = msg.payload;\nmsg.payload = {\n    \"recipient\":{\n        \"id\": global.get('id')\n    },\n    \"message\":{\n        \"text\": 'Hi ' + json.last_name + json.first_name\n        }\n    };\nmsg.headers = {\n    \"Content-type\" : \"application/json\"\n};\n\nmsg.url = 'https://graph.facebook.com/v2.6/me/messages?access_token=EAAZAFdb3vs58BAMASl1ZBETWgDGwbhywkzhmzNrJCQKO9xxce4VlEdX4qQXlG3ygEWrwiLiPBDHMn6ZCHeWWZAhWyZB9pZBwPWYPWRhtYBIgwYBW6th4pLsWEpb2r7FSV42tvZCZCXev8ZCxCQNSHzq2xwOLQOweBLloNziKaBDZAiJgZDZD';\nreturn msg;","outputs":1,"noerr":0,"x":1287.625,"y":153.5,"wires":[["4515d701.9d9778"]]},{"id":"1eb19b94.ce7304","type":"function","z":"4e09e13b.2d62e","name":"Detect greetings","func":"var greetings = ['您好', '你好', '妳好', 'hi', '嘿', '喂', '哈囉', 'hello', 'ㄎㄎ', '呵呵', '早安', '午安', '晚安', '早', '好', 'yo'];\nvar text = decodeURIComponent(global.get('text').toLowerCase());\nif (msg.payload === 'invalid') {\n    msg.paylaod = 'invalid';\n} else {\n    for (var index in greetings) {\n        if (greetings[index].indexOf(text) > -1) {\n            msg.payload = 'hi';\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":428.5,"y":213,"wires":[["d18be888.22a2e8"]]},{"id":"ab88890f.670708","type":"function","z":"4e09e13b.2d62e","name":"Get url","func":"if (msg.payload !== '') {\n    var url = 'http://juima.mybluemix.net/?mode=xml&text=' + msg.payload + '&lang=zh_tw';\n    msg.url = url;\n    return msg; \n}","outputs":1,"noerr":0,"x":715,"y":472,"wires":[["aa0d093f.053128"]]},{"id":"aa0d093f.053128","type":"http request","z":"4e09e13b.2d62e","name":"NLP","method":"POST","ret":"txt","url":"","tls":"","x":828.5,"y":472,"wires":[["389f9273.76c36e"]]},{"id":"389f9273.76c36e","type":"xml","z":"4e09e13b.2d62e","name":"","attr":"","chr":"","x":949.5,"y":473,"wires":[["d900a914.f10f18"]]},{"id":"34f5858d.02001a","type":"debug","z":"4e09e13b.2d62e","name":"","active":true,"console":"false","complete":"false","x":1452,"y":363,"wires":[]},{"id":"d900a914.f10f18","type":"function","z":"4e09e13b.2d62e","name":"Get keyword","func":"var keyword = [];\nvar objs = msg.payload.result;\nfor (var content in objs) {\n    switch (content) {\n        case 'Act':\n            for (var index in objs.Act) {\n                keyword.push(objs.Act[index].$.classTypeValue); \n            }\n            break;\n        case 'Subject':\n            for (var index in objs.Subject) {\n                keyword.push(objs.Subject[index].$.classTypeValue);\n            }\n            break;\n        case 'DateTime':\n            for (var index in objs.DateTime) {\n                keyword.push(objs.DateTime[index].$.classTypeValue);\n            }\n            break;\n        case 'People':\n            for (var index in objs.People) {\n                keyword.push(objs.People[index].$.classTypeValue);\n            }\n            break;\n        case 'Place':\n            for (var index in objs.Place) {\n                keyword.push(objs.Place[index].$.classTypeValue);\n            }\n            break;\n        case 'Event':\n            for (var index in objs.Event) {\n                keyword.push(objs.Event[index].$.classTypeValue);\n            }\n            break;\n        }\n}\nglobal.set('keyword', keyword);\nreturn msg;","outputs":1,"noerr":0,"x":1095.5,"y":475,"wires":[["3ac11cc9.a5c344"]]},{"id":"6f865fc1.fd0e4","type":"http request","z":"4e09e13b.2d62e","name":"","method":"POST","ret":"txt","url":"http://eva-reasoner.mybluemix.net","tls":"","x":1393.5,"y":470,"wires":[["eec561b.cb1faa"]]},{"id":"3ac11cc9.a5c344","type":"function","z":"4e09e13b.2d62e","name":"Get url","func":"if (msg.payload !== 'q=undefined') {\nvar keyword = global.get('keyword');\nnode.warn(keyword);\n    msg.payload = {\n        \"payload\": {\n            \"Concept\": keyword\n        }\n    };\n\n    msg.headers = {\n        \"Content-type\" : \"application/json\"\n    };\n    msg.url = 'http://eva-reasoner.mybluemix.net';\n    return msg; \n}","outputs":1,"noerr":0,"x":1250,"y":472,"wires":[["6f865fc1.fd0e4"]]},{"id":"eec561b.cb1faa","type":"json","z":"4e09e13b.2d62e","name":"","x":1542.5,"y":469,"wires":[["a18b77aa.1d2ab8"]]},{"id":"a18b77aa.1d2ab8","type":"function","z":"4e09e13b.2d62e","name":"Get best answer from reasoning","func":"var ans = msg.payload.BestAnswer;\nif (ans === '') {\n    ans = '您可以再問一次嗎？給我多點提示^^';\n} else {\n    var wordLimit = 300;\n    ans = ans.replace(/ /g, \"\");\n    if (ans.length > wordLimit) {\n        ans = ans.slice(0, wordLimit);\n    }\n}\nmsg.payload = ans;\nglobal.set('text', ans);\nreturn msg;","outputs":1,"noerr":0,"x":1219.5,"y":386,"wires":[["34f5858d.02001a","f0ae9552.ef78a8"]]},{"id":"5cddf29c.9fca1c","type":"comment","z":"4e09e13b.2d62e","name":"RR","info":"","x":184.5,"y":44,"wires":[]},{"id":"d1f8b35c.9fb2f","type":"comment","z":"4e09e13b.2d62e","name":"NLP & Reasoning","info":"","x":183,"y":89,"wires":[]},{"id":"3edd85ca.78337a","type":"function","z":"4e09e13b.2d62e","name":"Order yes","func":"msg.payload = '訂單完成';\nglobal.set('text', '訂單完成');\nreturn msg;","outputs":1,"noerr":0,"x":778.2500152587891,"y":295.5000047683716,"wires":[["f0ae9552.ef78a8"]]},{"id":"56ae85fa.80e29c","type":"function","z":"4e09e13b.2d62e","name":"Confirmation","func":"msg.payload = {\n  \"recipient\":{\n    \"id\": global.get('id')\n  },\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"template\",\n      \"payload\":{\n        \"template_type\":\"button\",\n        \"text\":\"Is this orfer correct?\",\n        \"buttons\":[\n          {\n            \"type\":\"postback\",\n            \"title\":\"YES\",\n            \"payload\":\"payload_yes\"\n          },\n          {\n            \"type\":\"postback\",\n            \"title\":\"NO\",\n            \"payload\":\"payload_no\"\n          }\n        ]\n      }\n    }\n  }\n};\n\nmsg.headers = {\n    \"Content-type\" : \"application/json\"\n};\n\nmsg.url = 'https://graph.facebook.com/v2.6/me/messages?access_token=EAAZAFdb3vs58BAMASl1ZBETWgDGwbhywkzhmzNrJCQKO9xxce4VlEdX4qQXlG3ygEWrwiLiPBDHMn6ZCHeWWZAhWyZB9pZBwPWYPWRhtYBIgwYBW6th4pLsWEpb2r7FSV42tvZCZCXev8ZCxCQNSHzq2xwOLQOweBLloNziKaBDZAiJgZDZD';\n\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":48,"wires":[["4515d701.9d9778"]]},{"id":"ca8121e0.db2a4","type":"delay","z":"4e09e13b.2d62e","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":982.5,"y":50,"wires":[["56ae85fa.80e29c"]]},{"id":"cb9b9c50.7d9d5","type":"function","z":"4e09e13b.2d62e","name":"Order no","func":"msg.payload = '訂單取消';\nglobal.set('text', '訂單取消');\nreturn msg;","outputs":1,"noerr":0,"x":776.5000152587891,"y":336.0000047683716,"wires":[["f0ae9552.ef78a8"]]},{"id":"614d640f.c52c5c","type":"http request","z":"4e09e13b.2d62e","name":"Graph API GET username","method":"GET","ret":"txt","url":"","tls":"","x":971.5,"y":155,"wires":[["f6d03580.5d6478"]]},{"id":"7588b4d5.503e5c","type":"function","z":"4e09e13b.2d62e","name":"Get username","func":"var userid = global.get('id');\nvar url = 'https://graph.facebook.com/v2.6/' + userid + '?fields=first_name,last_name,profile_pic,locale,timezone,gender&access_token=EAAZAFdb3vs58BAMASl1ZBETWgDGwbhywkzhmzNrJCQKO9xxce4VlEdX4qQXlG3ygEWrwiLiPBDHMn6ZCHeWWZAhWyZB9pZBwPWYPWRhtYBIgwYBW6th4pLsWEpb2r7FSV42tvZCZCXev8ZCxCQNSHzq2xwOLQOweBLloNziKaBDZAiJgZDZD';\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":758.5,"y":156,"wires":[["614d640f.c52c5c"]]},{"id":"f6d03580.5d6478","type":"json","z":"4e09e13b.2d62e","name":"","x":1160.5,"y":154,"wires":[["898b190d.f8a838"]]},{"id":"f04b1116.714a5","type":"debug","z":"4e09e13b.2d62e","name":"","active":true,"console":"false","complete":"false","x":301.5,"y":315,"wires":[]},{"id":"d6a8ff54.0366","type":"function","z":"4e09e13b.2d62e","name":"Send image to recognize","func":"msg.payload = {\n  \"url\": global.get('image')\n};\n\nmsg.headers = {\n    \"Content-type\" : \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":815.0000762939453,"y":386.0000057220459,"wires":[["b89c025e.b5d44"]]},{"id":"b89c025e.b5d44","type":"http request","z":"4e09e13b.2d62e","name":"","method":"POST","ret":"txt","url":"http://hpahzoonlk.localtunnel.me/image","tls":"","x":779.2500152587891,"y":425.2500066757202,"wires":[[]]},{"id":"24f77eb5.dd6a92","type":"function","z":"4e09e13b.2d62e","name":"Wating","func":"var json = msg.payload;\nmsg.payload = {\n    \"recipient\":{\n        \"id\": global.get('id')\n    },\n    \"message\":{\n        \"text\": 'Wating...'\n        }\n    };\nmsg.headers = {\n    \"Content-type\" : \"application/json\"\n};\n\nmsg.url = 'https://graph.facebook.com/v2.6/me/messages?access_token=EAAZAFdb3vs58BAMASl1ZBETWgDGwbhywkzhmzNrJCQKO9xxce4VlEdX4qQXlG3ygEWrwiLiPBDHMn6ZCHeWWZAhWyZB9pZBwPWYPWRhtYBIgwYBW6th4pLsWEpb2r7FSV42tvZCZCXev8ZCxCQNSHzq2xwOLQOweBLloNziKaBDZAiJgZDZD';\nreturn msg;","outputs":1,"noerr":0,"x":816.25,"y":566.25,"wires":[["4515d701.9d9778"]]},{"id":"9fd23575.eeebd8","type":"visual-recognition-v3","z":"4e09e13b.2d62e","name":"","apikey":"0dead6c1873b1b0b25d4a06b7ca49b997152bfb7","image-feature":"detectFaces","x":1032,"y":602,"wires":[["71780e37.c1683"]]},{"id":"5d59831f.0145cc","type":"function","z":"4e09e13b.2d62e","name":"Image URL","func":"var url = global.get('image');\nmsg.payload = url;\nreturn msg;","outputs":1,"noerr":0,"x":835.5,"y":602,"wires":[["9fd23575.eeebd8"]]},{"id":"71780e37.c1683","type":"function","z":"4e09e13b.2d62e","name":"Image URL","func":"var result = msg.result;\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":1227,"y":600,"wires":[["3ecead2e.5bb5a2"]]},{"id":"3ecead2e.5bb5a2","type":"json","z":"4e09e13b.2d62e","name":"","x":1369.5,"y":599,"wires":[["711f5fc9.86e44"]]},{"id":"711f5fc9.86e44","type":"function","z":"4e09e13b.2d62e","name":"Analysis","func":"var text = '';\nvar json = JSON.parse(msg.payload);\nvar faceCount = 0;\nvar images = json.images;\nfor (var index in images) {\n    var faces = images[index].faces;\n  for (var indexin in faces) {\n    faceCount++;\n    var face = faces[indexin];\n    text += 'The ' + faceCount + 'th face: predicted Age is ' + (face.age.max + face.age.min) / 2 + ', and Gender is ' + face.gender.gender + '\\n';\n  }\n}\nvar prefab = 'Found ' + faceCount + ' face(s).\\n';\nglobal.set('text', prefab.concat(text));\nnode.warn(prefab.concat(text));\nreturn msg;","outputs":1,"noerr":0,"x":1521.5,"y":598,"wires":[["f0ae9552.ef78a8"]]}]